/*=============== HOME ===============*/
.home {}

.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
  animation: fadeInUp 1s ease-in-out;
}

.home__content {
  display: grid;
  row-gap: 2rem;
  animation: slideInLeft 1s ease-in-out;
}

.home__data {
  text-align: center;
}

.home__subtitle,
.home__education {
  font-size: var(--bigger-font-size);
}

.home__subtitle span,
.home__title {
  color: var(--first-color);
  padding: 10px;
  transition: color 0.3s;
}

.home__title {
  font-size: 48px;
  font-weight: var(--font-semi-bold);
}

.home__description {
  margin-block: 1rem 1.5rem;
  animation: slideInLeft 1s ease-in-out;
}

.home__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  animation: fadeIn 1s ease-in-out;
}

.home__social-link {
  display: flex;
  background-color: gray;
  padding: .5rem;
  color: white;
  font-size: 1.5rem;
  clip-path: square(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 10px;
  transition: transform .4s, color 0.3s;
  text-decoration: none;
}

.home__social-link:hover {
  transform: translateY(-.25rem);
  color: white;
  text-decoration: none;
}

.home__image {
  justify-self: center;
  animation: fadeInRight 1s ease-in-out;
}

.home__blob {
  width: 320px;
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2));
  animation: float 3s ease-in-out infinite alternate;
}

.home__img {
  width: 900px;
  transform: translateX(-140px);
  scale: 5px;

}

/* Default styles for content and image */
.home__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.home__content {
  flex: 1;
  justify-content: center;
  padding: 30px;
}

.home__image {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .home__box {
    flex-direction: column;
  }

  .home__image {
    justify-content: center;
    margin-top: 20px;
    /* Add some spacing between content and image */
  }
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: gray;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  color: white;
  font-weight: var(--font-medium);
  transition: box-shadow .4s, color 0.3s;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
  color: white;
  text-decoration: none;
}

/*=============== Keyframe Animations ===============*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes rotate {
  from {
    transform: translateX(-140px) rotate(0deg);
  }

  to {
    transform: translateX(-140px) rotate(360deg);
  }
}